<%- include('header'); -%>
<div class="hero-div">
  <div>
    <h1 class="text-center hero-title">Welcome to The Clubhouse</h1>
    <h3 class="text-center hero-subtitle">An Exclusive Community</h3>
  </div>
</div>

<div class="post-contatiner">
  <% if (messages.info) { %>
  <p class="info message"><%= messages.info %></p>
  <% } %> <% postedMessages.forEach(post => { %>

  <div class="post">
    <h2 class="post-title"><%= post.title %></h2>
    <p class="post-date">
      <%= post.timePostedFormatted %><% if (isMember) {%>
      <span class="post-author">
        • <%= post.user.firstName %> <%= post.user.lastName %></span
      >
      <% } %>
    </p>

    <p class="post-content"><%= post.message %></p>
    <% if (locals.user) {%> <% if ((String(user._id) === String(post.user._id)) || user.isAdmin) {%>

    <a class="btn-link" href="/<%= post._id %>/delete">
      <button class="btn ch-btn delete-btn">Delete Post</button>
    </a>
    <% }} %>
  </div>

  <% }); %>
</div>
<%- include('footer'); -%>
