<%- include('header') -%>
<div class="hero-div">
  <h1 class="text-center hero-title">Log In</h1>
</div>

<div class="container-fluid ch-form-wrapper">
    <% if (messages.error) { %>
        <%= messages.error %>
      <% } %>
  <form method="POST" class="ch-form">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email"
      required=true value=<%-(undefined===locals.email ? '' : user.email)%>>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required="true"
      />
    </div>
    <button class="btn ch-btn">Log In</button>
  </form>

  <%if(undefined===locals.errors) {%> <%} else {%>
  <h5 class="mt-3">Errors</h5>
  <ul>
    <% errors.forEach(error => { %>
    <li><%-error.msg%></li>
    <%});%>
  </ul>
  <%}%> <%- include('footer'); -%>
</div>

<script
  src="/javascripts/passwordValidator.js"
  crossorigin="anonymous"
></script>

<%- include('footer') -%>
